@use "../utils/" as u;
header {
  background-image: url(/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;

  .header-heading {
    border: 2px solid var(--White);
    margin-top: u.rem(85);
    padding: u.rem(30) u.rem(30) u.rem(15) u.rem(20);
    color: var(--White);
  }
}

.nav {
  padding-top: u.rem(40);
  .hide-for-mobile {
    @include u.breakpoints-down(medium) {
      display: none;
    }
  }

  &__hamburger {
    &-close {
      display: none;
    }
  }
}
