@use "../utils/" as u;
header {
  background-image: url(images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;

  @include u.breakpoints-up(large) {
    background-image: url(images/desktop/image-hero.jpg);
  }

  .header-heading {
    border: 2px solid var(--White);
    margin-top: u.rem(149.008);
    padding: u.rem(30) u.rem(30) u.rem(15) u.rem(20);
    color: var(--White);

    @include u.breakpoints-up(large) {
      border: none;
      margin-top: 5.313rem;
    }

    h1 {
      @include u.breakpoints-up(large) {
        border: 1px solid white;
        padding: 2.5rem 2.5rem 1.9rem 1.4rem;
        margin-right: 32rem;
      }
    }
  }
}

.nav {
  position: relative;
  padding-top: u.rem(40);
  .hide-for-mobile {
    @include u.breakpoints-down(medium) {
      display: none;
    }
  }

  &__hamburger {
    cursor: pointer;
    @include u.breakpoints-up(large) {
      display: none;
    }
    &-close {
      display: none;
    }
  }
}

.dark-bg-header {
  background: var(--Black);
  min-height: 100vh;
}

.header-heading-close {
  display: none;
}

.mobile-nav {
  display: none;
}

.open {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 283%;
  left: 0%;
  padding-left: u.rem(10);
  a {
    color: white;
    padding-bottom: u.rem(31);
    text-transform: uppercase;
    font-size: u.rem(18);
  }
}
