@use "../utils/" as u;

h1,
h2,
h3,
h4 {
  margin-top: 0;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-2);
  text-transform: uppercase;
  letter-spacing: u.rem(2);
}
h1 {
  font-size: clamp(u.rem(38), u.rem(16) + 2vw, u.rem(45));
}

h2 {
  font-size: clamp(u.rem(30), u.rem(14) + 1.5vw, u.rem(40));
}

h3 {
  font-size: clamp(u.rem(25), u.rem(13) + 1vw, u.rem(28));
}

ul {
  li {
    list-style: none;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: var(--Black);
}

p {
  line-height: 1.5;
  padding: u.rem(20) u.rem(10);
  color: var(--Dark-Gray);
}
