:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --font-family-1: "Alata", sans-serif;
  --font-family-2: "Josefin Sans", sans-serif;
}
